/* =============================================================================
 *
 * Waybar Configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/* Keyframe for warning blinks, changing the color and background color */
@keyframes blink-warning {
    70% {
        color: white;
    }

    100% {
        color: white;
        background-color: orange;
    }
}

/* Keyframe for critical blinks, changing the color and background color */
@keyframes blink-critical {
    70% {
        color: white;
    }

    100% {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base Styles
 * -------------------------------------------------------------------------- */

/* Resetting common styles for all elements */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* Styling the entire bar */
#waybar {
    background: #000000;
    color: white;
    font-family: Cantarell, Noto Sans, sans-serif, "Font Awesome 5 Free";
    font-size: 13px;
}

/* Common padding for each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding: 0 10px;  /* shorthand for padding-left and padding-right */
}

/* -----------------------------------------------------------------------------
 * Module Styles
 * -------------------------------------------------------------------------- */

/* Battery styling */
#battery {
    animation: linear infinite alternate;  /* shorthand for animation properties */
    padding-right: 5px;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Clock styling */
#clock {
    padding: 0 5px;  /* shorthand for padding-left and padding-right */
}

/* CPU styling */
#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

/* Memory styling */
#memory {
    animation: linear infinite alternate;  /* shorthand for animation properties */
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Mode styling */
#mode {
    background: #64727D;
    border-top: 2px solid white;
    padding-bottom: 2px;  /* compensating for top border */
}

/* Network styling */
#network {
    padding-right: 3px;
}

#network.disconnected {
    color: orange;
}

/* Custom Spotify styling */
#custom-spotify {
    color: rgb(102, 220, 105);
}

/* Temperature styling */
#temperature.critical {
    color: red;
}

/* Window styling */
#window {
    font-weight: bold;
}

/* Workspaces styling */
#workspaces button {
    /* border-top: 2px solid transparent; (it's commented out, so leaving it as is) */
    padding: 2px 10px 2px 10px;  /* shorthand for padding-bottom, padding-right, padding-top, and padding-left */
    color: #888888;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: black;
    background-color: white;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
